openapi: 3.1.0
info:
  title: Seizn Memory API
  description: |
    AI Memory Infrastructure for Developers.

    ## Authentication
    All API requests require an API key passed via the `Authorization: Bearer` header.
    Legacy `X-API-Key` is accepted until 2026-05-01.

    ```bash
    curl -H "Authorization: Bearer szn_your_api_key" https://www.seizn.com/api/memories
    ```

    ## Models Used
    - **Embedding**: Voyage-3 (1024 dimensions)
    - **Memory Extraction**: Claude 3.5 Haiku / Claude Sonnet 4
    - **Query Generation**: Claude 3.5 Haiku / Claude Sonnet 4

    ## Rate Limits
    - Free: 1,000 API calls/month
    - Plus: 10,000 API calls/month
    - Pro: 100,000 API calls/month

  version: 1.0.0
  contact:
    name: Seizn Support
    email: support@seizn.com
  license:
    name: Proprietary

servers:
  - url: https://www.seizn.com
    description: Production
  - url: http://localhost:3000
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Memories
    description: Memory CRUD operations
  - name: AI
    description: AI-powered memory operations
  - name: Webhooks
    description: Webhook management
  - name: CI
    description: Continuous Integration tracing and test management
  - name: Autopilot
    description: AI-powered code analysis and automated fixes
  - name: Cache
    description: Semantic caching for AI responses
  - name: Contracts
    description: API contract validation and management
  - name: Healing
    description: Self-healing system for automatic issue resolution
  - name: Graph
    description: Knowledge graph data and federated queries
  - name: Versions
    description: Version control for data and configurations
  - name: Explain
    description: Query explanation and optimization suggestions
  - name: RetOps
    description: Retrieval operations monitoring and quality metrics

paths:
  /api/memories:
    post:
      tags: [Memories]
      summary: Add a memory
      description: Store a new memory with automatic embedding generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemoryRequest'
            example:
              content: "User prefers dark mode and uses TypeScript"
              memory_type: "preference"
              tags: ["ui", "tech"]
              namespace: "default"
      responses:
        '200':
          description: Memory created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  memory:
                    $ref: '#/components/schemas/Memory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Memories]
      summary: Search memories
      description: |
        Search memories using vector similarity, keyword matching, or hybrid search.

        **Search Modes:**
        - `vector` (default): Semantic similarity search
        - `keyword`: Full-text BM25 search
        - `hybrid`: Combined vector + keyword with RRF ranking
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: mode
          in: query
          schema:
            type: string
            enum: [vector, keyword, hybrid]
            default: vector
          description: Search mode
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
          description: Maximum results to return
        - name: threshold
          in: query
          schema:
            type: number
            default: 0.7
            minimum: 0
            maximum: 1
          description: Minimum similarity threshold (vector/hybrid modes)
        - name: namespace
          in: query
          schema:
            type: string
          description: Filter by namespace
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  mode:
                    type: string
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MemorySearchResult'
                  count:
                    type: integer

    delete:
      tags: [Memories]
      summary: Delete memories (bulk)
      description: Soft delete multiple memories by IDs
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated memory IDs
      responses:
        '200':
          description: Memories deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: integer

  /api/memories/{id}:
    get:
      tags: [Memories]
      summary: Get a memory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Memory details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  memory:
                    $ref: '#/components/schemas/Memory'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Memories]
      summary: Update a memory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memory_type:
                  $ref: '#/components/schemas/MemoryType'
                tags:
                  type: array
                  items:
                    type: string
                importance:
                  type: integer
                  minimum: 1
                  maximum: 10
      responses:
        '200':
          description: Memory updated
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Memories]
      summary: Delete a memory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Memory deleted

  /api/memories/export:
    get:
      tags: [Memories]
      summary: Export all memories
      description: |
        Export all memories for the authenticated user.
        Supports JSON and CSV formats with optional filtering by namespace and memory_type.
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
            default: json
          description: Export format
        - name: namespace
          in: query
          schema:
            type: string
          description: Filter by namespace
        - name: memory_type
          in: query
          schema:
            $ref: '#/components/schemas/MemoryType'
          description: Filter by memory type
        - name: limit
          in: query
          schema:
            type: integer
            default: 10000
            maximum: 10000
          description: Maximum memories to export per request
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  export:
                    type: object
                    properties:
                      format:
                        type: string
                      exported_at:
                        type: string
                        format: date-time
                      count:
                        type: integer
                      total_count:
                        type: integer
                      offset:
                        type: integer
                      limit:
                        type: integer
                      has_more:
                        type: boolean
                  memories:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExportedMemory'
            text/csv:
              schema:
                type: string
                description: CSV file with headers
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/memories/import:
    post:
      tags: [Memories]
      summary: Bulk import memories
      description: |
        Import multiple memories at once with automatic embedding generation.
        Maximum 100 memories per request. Duplicates can be skipped automatically.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memories]
              properties:
                memories:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required: [content]
                    properties:
                      content:
                        type: string
                        description: Memory content
                      memory_type:
                        $ref: '#/components/schemas/MemoryType'
                      tags:
                        type: array
                        items:
                          type: string
                      namespace:
                        type: string
                        default: default
                      importance:
                        type: integer
                        minimum: 1
                        maximum: 10
                      source:
                        type: string
                skip_duplicates:
                  type: boolean
                  default: true
                  description: Skip memories with duplicate content
            example:
              memories:
                - content: "User prefers dark mode"
                  memory_type: "preference"
                  tags: ["ui", "settings"]
                - content: "User works at Google"
                  memory_type: "fact"
              skip_duplicates: true
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: object
                    properties:
                      imported:
                        type: integer
                        description: Number of memories successfully imported
                      skipped:
                        type: integer
                        description: Number of duplicates skipped
                      failed:
                        type: integer
                        description: Number of failed imports
                      errors:
                        type: array
                        items:
                          type: string
                        description: Error messages for failed imports
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/extract:
    post:
      tags: [AI]
      summary: Extract memories from conversation
      description: |
        Use AI to automatically extract important memories from a conversation.
        Extracted memories can be automatically stored or returned for review.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [conversation]
              properties:
                conversation:
                  type: string
                  description: The conversation text to analyze
                model:
                  type: string
                  enum: [haiku, sonnet]
                  default: haiku
                  description: AI model to use
                auto_store:
                  type: boolean
                  default: true
                  description: Automatically store extracted memories
                namespace:
                  type: string
                  default: default
            example:
              conversation: |
                User: I'm a software engineer at Google, working on ML infrastructure.
                Assistant: That's interesting! What technologies do you work with?
                User: Mostly Python and TensorFlow. I prefer PyTorch though.
              model: haiku
              auto_store: true
      responses:
        '200':
          description: Extraction results
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  extracted:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractedMemory'
                  stored:
                    type: array
                    items:
                      $ref: '#/components/schemas/Memory'

  /api/query:
    post:
      tags: [AI]
      summary: Query with memory context (RAG)
      description: |
        Generate an AI response using relevant memories as context.
        This is a RAG (Retrieval-Augmented Generation) endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: User's question or prompt
                model:
                  type: string
                  enum: [haiku, sonnet]
                  default: haiku
                top_k:
                  type: integer
                  default: 5
                  description: Number of memories to retrieve
                namespace:
                  type: string
                include_memories:
                  type: boolean
                  default: true
                  description: Include used memories in response
            example:
              query: "What programming languages do I know?"
              model: haiku
              top_k: 5
      responses:
        '200':
          description: AI response with memory context
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                  memories_used:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        content:
                          type: string
                        similarity:
                          type: number
                  model_used:
                    type: string

  /api/summarize:
    post:
      tags: [AI]
      summary: Summarize a conversation
      description: |
        Generate a summary of a conversation and optionally extract/store memories.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        type: string
                      timestamp:
                        type: string
                        format: date-time
                save_memories:
                  type: boolean
                  default: false
                  description: Store extracted memories
                model:
                  type: string
                  enum: [haiku, sonnet]
                  default: haiku
                namespace:
                  type: string
            example:
              messages:
                - role: user
                  content: "I need help with my React project"
                - role: assistant
                  content: "Sure! What are you building?"
                - role: user
                  content: "A dashboard for my startup"
              save_memories: true
      responses:
        '200':
          description: Summary results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  summary:
                    type: object
                    properties:
                      text:
                        type: string
                      topic:
                        type: string
                      key_points:
                        type: array
                        items:
                          type: string
                      message_count:
                        type: integer
                  extracted_memories:
                    type: integer
                  saved_memories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Memory'

  /api/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                  count:
                    type: integer

    post:
      tags: [Webhooks]
      summary: Create a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url]
              properties:
                name:
                  type: string
                  maxLength: 100
                url:
                  type: string
                  format: uri
                  description: Must be HTTPS
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEvent'
                  default: [memory.created]
                namespace:
                  type: string
                  description: Only trigger for specific namespace
            example:
              name: "My Webhook"
              url: "https://example.com/webhook"
              events: ["memory.created", "memory.deleted"]
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  webhook:
                    allOf:
                      - $ref: '#/components/schemas/Webhook'
                      - type: object
                        properties:
                          secret:
                            type: string
                            description: HMAC secret (shown only once)
                  message:
                    type: string

    patch:
      tags: [Webhooks]
      summary: Update a webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEvent'
                is_active:
                  type: boolean
      responses:
        '200':
          description: Webhook updated

    delete:
      tags: [Webhooks]
      summary: Delete a webhook
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook deleted

  /api/webhooks/deliveries:
    get:
      tags: [Webhooks]
      summary: Get webhook delivery history
      parameters:
        - name: webhook_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, success, failed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Delivery history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  # ========== CI API ==========
  /api/ci/traces:
    get:
      tags: [CI]
      summary: List CI traces
      description: List all CI traces with optional filtering
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, success, failed]
          description: Filter by status
        - name: branch
          in: query
          schema:
            type: string
          description: Filter by branch name
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: List of CI traces
          content:
            application/json:
              schema:
                type: object
                properties:
                  traces:
                    type: array
                    items:
                      $ref: '#/components/schemas/CITrace'
                  total:
                    type: integer
                  hasMore:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [CI]
      summary: Create a CI trace
      description: Create a new CI trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch, commit, repository]
              properties:
                branch:
                  type: string
                  description: Branch name
                commit:
                  type: string
                  description: Commit SHA
                repository:
                  type: string
                  description: Repository URL or name
                metadata:
                  type: object
                  description: Additional metadata
            example:
              branch: "main"
              commit: "a1b2c3d"
              repository: "org/repo"
      responses:
        '200':
          description: Trace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CITrace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/ci/tests/{traceId}:
    get:
      tags: [CI]
      summary: Get test results
      description: Get test results for a specific trace
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: The trace ID
      responses:
        '200':
          description: Test results
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    type: string
                  tests:
                    type: array
                    items:
                      $ref: '#/components/schemas/TestResult'
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      passed:
                        type: integer
                      failed:
                        type: integer
                      skipped:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/ci/report:
    get:
      tags: [CI]
      summary: Generate CI report
      description: Generate a CI report for a time period
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: branch
          in: query
          schema:
            type: string
          description: Filter by branch
      responses:
        '200':
          description: CI report
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                      end:
                        type: string
                        format: date-time
                  summary:
                    type: object
                    properties:
                      totalBuilds:
                        type: integer
                      successRate:
                        type: number
                      avgDuration:
                        type: integer
                      failureReasons:
                        type: array
                        items:
                          type: object
                          properties:
                            reason:
                              type: string
                            count:
                              type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ========== Autopilot API ==========
  /api/autopilot/analyze:
    post:
      tags: [Autopilot]
      summary: Analyze code
      description: Analyze code for issues and improvements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repository]
              properties:
                repository:
                  type: string
                  description: Repository URL
                branch:
                  type: string
                  default: main
                  description: Branch to analyze
                files:
                  type: array
                  items:
                    type: string
                  description: Specific files to analyze
                analysisType:
                  type: string
                  enum: [security, performance, quality, all]
                  default: all
                  description: Type of analysis
            example:
              repository: "https://github.com/org/repo"
              branch: "main"
              analysisType: "security"
      responses:
        '200':
          description: Analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/autopilot/fix:
    post:
      tags: [Autopilot]
      summary: Generate fixes
      description: Generate automated fixes for detected issues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [analysisId]
              properties:
                analysisId:
                  type: string
                  description: Analysis ID from /analyze
                issueIds:
                  type: array
                  items:
                    type: string
                  description: Specific issues to fix (default all)
                autoCommit:
                  type: boolean
                  default: false
                  description: Auto-commit fixes
            example:
              analysisId: "analysis_xyz789"
              issueIds: ["issue_001"]
              autoCommit: false
      responses:
        '200':
          description: Fix results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/autopilot/pr:
    post:
      tags: [Autopilot]
      summary: Create PR with fixes
      description: Create a pull request with fixes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fixId]
              properties:
                fixId:
                  type: string
                  description: Fix ID from /fix
                title:
                  type: string
                  description: PR title
                description:
                  type: string
                  description: PR description
                targetBranch:
                  type: string
                  default: main
                  description: Target branch
            example:
              fixId: "fix_abc123"
              title: "Fix security vulnerabilities"
              targetBranch: "main"
      responses:
        '200':
          description: PR created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotPR'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          description: No permission to create PR

  /api/autopilot/status/{prId}:
    get:
      tags: [Autopilot]
      summary: Get PR status
      description: Get status of an autopilot PR
      parameters:
        - name: prId
          in: path
          required: true
          schema:
            type: string
          description: The PR ID
      responses:
        '200':
          description: PR status
          content:
            application/json:
              schema:
                type: object
                properties:
                  prId:
                    type: string
                  status:
                    type: string
                    enum: [open, merged, closed]
                  url:
                    type: string
                  mergedAt:
                    type: string
                    format: date-time
                    nullable: true
                  checks:
                    type: object
                    properties:
                      ci:
                        type: string
                      review:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ========== Cache API ==========
  /api/summer/cache/query:
    post:
      tags: [Cache]
      summary: Query semantic cache
      description: Query the semantic cache for similar responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: The query string
                threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.85
                  description: Similarity threshold
                namespace:
                  type: string
                  description: Cache namespace
            example:
              query: "What is the capital of France?"
              threshold: 0.85
      responses:
        '200':
          description: Cache query result
          content:
            application/json:
              schema:
                type: object
                properties:
                  hit:
                    type: boolean
                  similarity:
                    type: number
                  cachedResponse:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                      query:
                        type: string
                      response:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                      ttl:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/summer/cache/invalidate:
    post:
      tags: [Cache]
      summary: Invalidate cache
      description: Invalidate cache entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cacheIds:
                  type: array
                  items:
                    type: string
                  description: Specific cache IDs to invalidate
                namespace:
                  type: string
                  description: Invalidate entire namespace
                pattern:
                  type: string
                  description: Pattern to match queries
            example:
              namespace: "default"
      responses:
        '200':
          description: Invalidation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  invalidated:
                    type: integer
                  namespace:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/summer/cache/stats:
    get:
      tags: [Cache]
      summary: Get cache statistics
      description: Get cache statistics
      parameters:
        - name: namespace
          in: query
          schema:
            type: string
          description: Filter by namespace
        - name: period
          in: query
          schema:
            type: string
            enum: [hour, day, week, month]
          description: Time period
      responses:
        '200':
          description: Cache statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalEntries:
                    type: integer
                  hitRate:
                    type: number
                  missRate:
                    type: number
                  avgLatency:
                    type: integer
                  storage:
                    type: object
                    properties:
                      used:
                        type: string
                      limit:
                        type: string
                  topQueries:
                    type: array
                    items:
                      type: object
                      properties:
                        query:
                          type: string
                        hits:
                          type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ========== Contracts API ==========
  /api/fall/contracts:
    post:
      tags: [Contracts]
      summary: Create contract
      description: Create a new API contract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, version, schema]
              properties:
                name:
                  type: string
                  description: Contract name
                version:
                  type: string
                  description: Contract version (semver)
                schema:
                  type: object
                  description: OpenAPI/JSON Schema definition
                description:
                  type: string
                  description: Contract description
            example:
              name: "UserAPI"
              version: "1.0.0"
              schema:
                type: object
                properties:
                  id:
                    type: string
      responses:
        '200':
          description: Contract created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Contract with same name/version exists

    get:
      tags: [Contracts]
      summary: List contracts
      description: List all contracts
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, deprecated, draft]
          description: Filter by status
        - name: search
          in: query
          schema:
            type: string
          description: Search by name
      responses:
        '200':
          description: List of contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/fall/contracts/validate:
    post:
      tags: [Contracts]
      summary: Validate against contract
      description: Validate a request/response against a contract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contractId, endpoint, method]
              properties:
                contractId:
                  type: string
                  description: Contract ID to validate against
                endpoint:
                  type: string
                  description: Endpoint path
                method:
                  type: string
                  description: HTTP method
                request:
                  type: object
                  description: Request body to validate
                response:
                  type: object
                  description: Response body to validate
            example:
              contractId: "contract_abc123"
              endpoint: "/users"
              method: "POST"
              request:
                email: "invalid-email"
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                        expected:
                          type: string
                        actual:
                          type: string
                  warnings:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/fall/contracts/{id}:
    get:
      tags: [Contracts]
      summary: Get contract
      description: Get a specific contract by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Contract ID
      responses:
        '200':
          description: Contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ========== Healing API ==========
  /api/fall/healing/analyze:
    post:
      tags: [Healing]
      summary: Analyze issue
      description: Analyze an issue for potential auto-healing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [errorType, errorMessage]
              properties:
                errorType:
                  type: string
                  description: Type of error (runtime, validation, network, etc.)
                errorMessage:
                  type: string
                  description: Error message
                stackTrace:
                  type: string
                  description: Stack trace
                context:
                  type: object
                  description: Additional context
            example:
              errorType: "network"
              errorMessage: "Connection timeout"
              stackTrace: "Error at fetch..."
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealingAnalysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/fall/healing/fix:
    post:
      tags: [Healing]
      summary: Apply healing fix
      description: Apply a healing fix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [analysisId, fixId]
              properties:
                analysisId:
                  type: string
                  description: Analysis ID from /analyze
                fixId:
                  type: string
                  description: Fix ID to apply
                dryRun:
                  type: boolean
                  default: false
                  description: Preview without applying
            example:
              analysisId: "heal_abc123"
              fixId: "fix_001"
              dryRun: false
      responses:
        '200':
          description: Healing result
          content:
            application/json:
              schema:
                type: object
                properties:
                  healingId:
                    type: string
                  status:
                    type: string
                    enum: [applied, skipped, failed]
                  fixId:
                    type: string
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                      message:
                        type: string
                      duration:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Fix already applied

  /api/fall/healing/history:
    get:
      tags: [Healing]
      summary: Get healing history
      description: Get healing history
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: status
          in: query
          schema:
            type: string
            enum: [success, failed, pending]
          description: Filter by status
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Maximum results
      responses:
        '200':
          description: Healing history
          content:
            application/json:
              schema:
                type: object
                properties:
                  healings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        errorType:
                          type: string
                        fixApplied:
                          type: string
                        status:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
                  stats:
                    type: object
                    properties:
                      total:
                        type: integer
                      successRate:
                        type: number
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ========== Graph API ==========
  /api/winter/graph/data:
    post:
      tags: [Graph]
      summary: Query/modify graph data
      description: Query or modify graph data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operation]
              properties:
                operation:
                  type: string
                  enum: [query, insert, update, delete]
                  description: Operation type
                nodes:
                  type: array
                  items:
                    type: object
                  description: Node data for insert/update
                edges:
                  type: array
                  items:
                    type: object
                  description: Edge data for relationships
                query:
                  type: string
                  description: Graph query (for query operation)
            example:
              operation: "query"
              query: "MATCH (u:User) RETURN u LIMIT 10"
      responses:
        '200':
          description: Graph operation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  operation:
                    type: string
                  results:
                    type: object
                    properties:
                      nodes:
                        type: array
                        items:
                          type: object
                      edges:
                        type: array
                        items:
                          type: object
                  metadata:
                    type: object
                    properties:
                      nodesAffected:
                        type: integer
                      executionTime:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/winter/graph/permissions/{nodeId}:
    get:
      tags: [Graph]
      summary: Get node permissions
      description: Get permissions for a graph node
      parameters:
        - name: nodeId
          in: path
          required: true
          schema:
            type: string
          description: Node ID
      responses:
        '200':
          description: Node permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodeId:
                    type: string
                  permissions:
                    type: object
                    properties:
                      read:
                        type: array
                        items:
                          type: string
                      write:
                        type: array
                        items:
                          type: string
                      admin:
                        type: array
                        items:
                          type: string
                  inherited:
                    type: object
                    nullable: true
                    properties:
                      from:
                        type: string
                      permissions:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/winter/graph/federated/query:
    post:
      tags: [Graph]
      summary: Federated query
      description: Execute a federated query across multiple data sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Federated query string
                sources:
                  type: array
                  items:
                    type: string
                  description: Data sources to query
                timeout:
                  type: integer
                  default: 30000
                  description: Query timeout in ms
                mergeStrategy:
                  type: string
                  enum: [union, intersection]
                  description: How to merge results
            example:
              query: "SELECT * FROM users WHERE active = true"
              sources: ["postgres", "mongodb"]
              timeout: 30000
      responses:
        '200':
          description: Federated query result
          content:
            application/json:
              schema:
                type: object
                properties:
                  queryId:
                    type: string
                  status:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                        data:
                          type: array
                          items:
                            type: object
                        count:
                          type: integer
                  merged:
                    type: array
                    items:
                      type: object
                  executionTime:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '504':
          description: Query exceeded timeout

  # ========== Versions API ==========
  /api/summer/versions:
    post:
      tags: [Versions]
      summary: Create version
      description: Create a new version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resourceType, resourceId, data]
              properties:
                resourceType:
                  type: string
                  description: Type of resource (config, schema, data)
                resourceId:
                  type: string
                  description: Resource identifier
                data:
                  type: object
                  description: Version data
                message:
                  type: string
                  description: Version commit message
                tags:
                  type: array
                  items:
                    type: string
                  description: Version tags
            example:
              resourceType: "config"
              resourceId: "app_settings"
              data:
                rateLimit: 1000
              message: "Updated rate limits"
      responses:
        '200':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Versions]
      summary: List versions
      description: List versions for a resource
      parameters:
        - name: resourceType
          in: query
          required: true
          schema:
            type: string
          description: Type of resource
        - name: resourceId
          in: query
          required: true
          schema:
            type: string
          description: Resource identifier
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Maximum results
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/summer/versions/{id}/restore:
    post:
      tags: [Versions]
      summary: Restore version
      description: Restore to a specific version
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Version ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                createBackup:
                  type: boolean
                  default: true
                  description: Create backup before restore
      responses:
        '200':
          description: Restore result
          content:
            application/json:
              schema:
                type: object
                properties:
                  restored:
                    type: boolean
                  fromVersion:
                    type: string
                  toVersion:
                    type: string
                  backupId:
                    type: string
                  restoredAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Resource is locked

  /api/summer/versions/{id}/diff/{compareId}:
    get:
      tags: [Versions]
      summary: Get version diff
      description: Get diff between two versions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: First version ID
        - name: compareId
          in: path
          required: true
          schema:
            type: string
          description: Second version ID
      responses:
        '200':
          description: Version diff
          content:
            application/json:
              schema:
                type: object
                properties:
                  version1:
                    type: string
                  version2:
                    type: string
                  diff:
                    type: object
                    properties:
                      added:
                        type: array
                        items:
                          type: object
                      removed:
                        type: array
                        items:
                          type: object
                      changed:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            from: {}
                            to: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ========== Explain API ==========
  /api/summer/explain:
    post:
      tags: [Explain]
      summary: Explain query
      description: Analyze and explain a query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: The query to explain
                queryType:
                  type: string
                  enum: [sql, graphql, natural, auto]
                  default: auto
                  description: Query type
                includeOptimizations:
                  type: boolean
                  default: true
                  description: Include optimization suggestions
            example:
              query: "SELECT * FROM users WHERE status = 'active'"
              queryType: "sql"
              includeOptimizations: true
      responses:
        '200':
          description: Query explanation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryExplanation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: Unable to parse query

  /api/summer/explain/{queryId}:
    get:
      tags: [Explain]
      summary: Get explanation
      description: Get a previously analyzed query explanation
      parameters:
        - name: queryId
          in: path
          required: true
          schema:
            type: string
          description: Query ID
      responses:
        '200':
          description: Query explanation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryExplanation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ========== RetOps API ==========
  /api/summer/retops/metrics:
    get:
      tags: [RetOps]
      summary: Get metrics
      description: Get retrieval operation metrics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [hour, day, week, month]
          description: Time period
        - name: operation
          in: query
          schema:
            type: string
          description: Filter by operation type
      responses:
        '200':
          description: RetOps metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  metrics:
                    type: object
                    properties:
                      totalOperations:
                        type: integer
                      avgLatency:
                        type: integer
                      p95Latency:
                        type: integer
                      p99Latency:
                        type: integer
                      errorRate:
                        type: number
                      throughput:
                        type: integer
                  breakdown:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count:
                          type: integer
                        avgLatency:
                          type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/summer/retops/stats:
    get:
      tags: [RetOps]
      summary: Get statistics
      description: Get retrieval statistics
      parameters:
        - name: namespace
          in: query
          schema:
            type: string
          description: Filter by namespace
      responses:
        '200':
          description: RetOps statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalDocuments:
                    type: integer
                  totalVectors:
                    type: integer
                  indexSize:
                    type: string
                  namespaces:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        documents:
                          type: integer
                  lastUpdated:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/summer/retops/quality:
    get:
      tags: [RetOps]
      summary: Get quality metrics
      description: Get retrieval quality metrics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month]
          description: Time period
      responses:
        '200':
          description: Quality metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  quality:
                    type: object
                    properties:
                      avgRelevanceScore:
                        type: number
                      mrr:
                        type: number
                        description: Mean Reciprocal Rank
                      ndcg:
                        type: number
                        description: Normalized Discounted Cumulative Gain
                      precision:
                        type: number
                      recall:
                        type: number
                  trends:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: number
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/summer/retops/alerts:
    get:
      tags: [RetOps]
      summary: Get alerts
      description: Get active alerts for retrieval operations
      parameters:
        - name: severity
          in: query
          schema:
            type: string
            enum: [critical, warning, info]
          description: Filter by severity
        - name: status
          in: query
          schema:
            type: string
            enum: [active, resolved]
          description: Filter by status
      responses:
        '200':
          description: RetOps alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        severity:
                          type: string
                          enum: [critical, warning, info]
                        type:
                          type: string
                        message:
                          type: string
                        triggeredAt:
                          type: string
                          format: date-time
                        status:
                          type: string
                          enum: [active, resolved]
                  summary:
                    type: object
                    properties:
                      critical:
                        type: integer
                      warning:
                        type: integer
                      info:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey

  schemas:
    MemoryType:
      type: string
      enum: [fact, preference, experience, relationship, instruction]

    MemoryScope:
      type: string
      enum: [user, session, agent]

    Memory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        tags:
          type: array
          items:
            type: string
        namespace:
          type: string
        scope:
          $ref: '#/components/schemas/MemoryScope'
        importance:
          type: integer
          minimum: 1
          maximum: 10
        confidence:
          type: number
          minimum: 0
          maximum: 1
        created_at:
          type: string
          format: date-time

    MemorySearchResult:
      allOf:
        - $ref: '#/components/schemas/Memory'
        - type: object
          properties:
            similarity:
              type: number
              description: Cosine similarity score
            keyword_rank:
              type: number
              description: BM25 rank (hybrid mode only)
            combined_score:
              type: number
              description: RRF combined score (hybrid mode only)

    AddMemoryRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: Memory content
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        tags:
          type: array
          items:
            type: string
        namespace:
          type: string
          default: default
        scope:
          $ref: '#/components/schemas/MemoryScope'
        session_id:
          type: string
        agent_id:
          type: string
        source:
          type: string

    ExtractedMemory:
      type: object
      properties:
        content:
          type: string
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        tags:
          type: array
          items:
            type: string
        confidence:
          type: number
        importance:
          type: integer

    ExportedMemory:
      type: object
      description: Memory data for export (without embedding)
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        tags:
          type: array
          items:
            type: string
        namespace:
          type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        source:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookEvent:
      type: string
      enum: [memory.created, memory.updated, memory.deleted]

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEvent'
        namespace:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        webhook_id:
          type: string
          format: uuid
        webhook_name:
          type: string
        event_type:
          type: string
        status:
          type: string
          enum: [pending, success, failed]
        status_code:
          type: integer
          nullable: true
        error_message:
          type: string
          nullable: true
        attempt_count:
          type: integer
        created_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true

    Error:
      type: object
      properties:
        error:
          type: string

    # CI API Schemas
    CITrace:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [pending, running, success, failed]
        branch:
          type: string
        commit:
          type: string
        repository:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration in milliseconds
        metadata:
          type: object

    TestResult:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [passed, failed, skipped]
        duration:
          type: integer
        file:
          type: string
        error:
          type: string
          nullable: true

    # Autopilot API Schemas
    AnalysisResult:
      type: object
      properties:
        analysisId:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        issues:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              severity:
                type: string
                enum: [critical, high, medium, low]
              type:
                type: string
              file:
                type: string
              line:
                type: integer
              message:
                type: string
              suggestion:
                type: string
        summary:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer

    FixResult:
      type: object
      properties:
        fixId:
          type: string
        status:
          type: string
          enum: [completed, partial, failed]
        fixes:
          type: array
          items:
            type: object
            properties:
              issueId:
                type: string
              file:
                type: string
              diff:
                type: string
              applied:
                type: boolean
        summary:
          type: object
          properties:
            total:
              type: integer
            applied:
              type: integer
            skipped:
              type: integer

    AutopilotPR:
      type: object
      properties:
        prId:
          type: string
        url:
          type: string
        status:
          type: string
          enum: [open, merged, closed]
        branch:
          type: string
        commits:
          type: integer
        filesChanged:
          type: integer

    # Contracts API Schemas
    Contract:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        status:
          type: string
          enum: [active, deprecated, draft]
        schema:
          type: object
        description:
          type: string
        endpoints:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Healing API Schemas
    HealingAnalysis:
      type: object
      properties:
        analysisId:
          type: string
        canHeal:
          type: boolean
        confidence:
          type: number
        suggestedFixes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              description:
                type: string
              impact:
                type: string
                enum: [low, medium, high]
              automated:
                type: boolean
        rootCause:
          type: string

    # Versions API Schemas
    Version:
      type: object
      properties:
        id:
          type: string
        version:
          type: string
        resourceType:
          type: string
        resourceId:
          type: string
        data:
          type: object
        message:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string

    # Explain API Schemas
    QueryExplanation:
      type: object
      properties:
        queryId:
          type: string
        originalQuery:
          type: string
        explanation:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
                properties:
                  step:
                    type: integer
                  operation:
                    type: string
                  table:
                    type: string
                  estimatedRows:
                    type: integer
            totalCost:
              type: integer
            estimatedTime:
              type: string
        optimizations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              suggestion:
                type: string
              impact:
                type: string
                enum: [low, medium, high]
              estimatedImprovement:
                type: string
        createdAt:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
